@import url('https://fonts.googleapis.com/css?family=Dosis');

body { 
    margin:0; 
    padding:0; 
    background-color:#000; 
    transition:background-color 1000ms linear; 
    overflow:hidden; 
    font-family:'Dosis', sans-serif; 
}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    left:0; 
    right:0; 
    transition:opacity 1000ms linear; 
}

body:not([data-povanc="free"]) #map {
    mask-image:radial-gradient(circle at 50% 67%, rgba(255,255,255,1), rgba(0,0,0,0)); 
}

body:not([data-povanc="car"]) .carViewOnly {
    display: none;
}

body:not([data-povanc="free"]) .freeViewOnly {
    display: none;
}

#commands { 
    position:absolute; 
    bottom:10px; 
    left:0; 
    right:0; 
    width:100%; 
    text-align:center; 
}

#commands button {
    font-size: 2em;
    margin: 2px;
    background-color: transparent;
    border: 0 none;
}

button[name^="changeView"] {
    float:left;
}

button[name="search"],
button[name="reload"] {
    float:right;
}

.front { 
    position:absolute; 
    top:10px; 
    left:50%; 
    margin-left:-200px; 
    width:400px; 
    padding:5px; 
    text-align:center; 
    font-size:40px;
}

.panel {
    position:absolute; 
    top:10px; 
    width:210px; 
    min-height:250px; 
    padding:5px; 
    text-align:center; 
}

.board { 
    border:1px solid #333; 
    background-color:#EEE; 
    border-radius:5px; 
    min-height:20px; 
    margin:10px; 
}

#speedBoard .board { 
    border:0 none; 
    background-color:transparent; 
    color:#46E; 
}

#speedLimit { 
    border:5px solid #C00; 
    background-color:#EEE; 
    border-radius:35px; 
    display:inline-block; 
    text-align:center; 
    overflow:visible; 
    width:60px; 
    height:60px; 
    line-height:57px; 
    position:absolute; 
    margin-left:-3em; 
}

#speedLimit:empty { 
    display:none; 
}

#eta {
    white-space: nowrap;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #EEE;
    text-shadow: 0 0 2px #000;
}

#debug { /* TODO REMOVE */
    position:absolute; 
    bottom:10px; 
    left:0; 
    right:0; 
    width:100%; 
    text-align:center; 
}

.maplibregl-ctrl, 
.highcharts-credits { 
    display:none !important; 
}

.marker_car { 
    background:url("./../img/car.png") no-repeat 50% 100%; 
    background-size:contain; 
    width:64px; 
    height:64px; 
}

.marker_arrow { 
    background:url("./../img/arrow.png") no-repeat 50% 100%; 
    background-size:contain; 
    width:32px; 
    height:32px; 
}

#form { 
    background-color:rgba(0,0,0,0.8); 
    border-radius:5px; 
    margin:10px auto; 
    width:auto; 
    left:10px; 
    right:10px;
}

#form a { 
    color:#DDF; 
    display:block; 
    text-align:left; 
    text-decoration:none; 
    margin:0.2em; 
    width:100%; 
    font-size:2em; 
}

input { 
    font:courier; 
    border-radius:1em; 
    padding: 0.5em; 
    border: 2px solid #888; 
    background: #EEE; 
    margin:2px auto; 
    display:block; 
    box-sizing:border-box; 
    width:100%;
}
